<head>
  <link rel='stylesheet' type='text/css' href='../static/css/main.css'>
</head>
{% extends "bootstrap/base.html" %}

{% block title %}National Hockey Leage Stats 2015-16 Season{% endblock %}

{% block content %}
<div class="jumbotron container-fluid">
  <h1>NHL Players</h1>
  <br>
  <form id='team_filter' action='players.html' method='POST'>
    <select name='team'>
      {% for team in team %}
        <option value="{{team.team_id}}">{{team.team_name}}</option>
      {% endfor %}
    </select>
    <button type='submit'>Query!</button>
  </form>
</div>
<div class="container-fluid">
<table class="table table-hover">
	<thead>
	<tr>
		<th>Name</th>
    <th>Position</th>
		<th>Team</th>
	</tr>
	</thead>
	<tbody>
	{% for player in players %}
		<tr>
			<td><a href="/player/{{player.player_id}}">{{player.fname}} {{player.lname}}</a></td>
      <td>{{player.pos_id}}</td>
			<td><a href="/team/{{player.team_id}}">{{player.team_name}}</a></td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
